body{
	background: 
			url(/static/img/bg_top.png) 0 0 repeat-x,
			url(/static/img/bg_bottom.png) 0 0 repeat
	;
	background-size: auto 3em, auto;
	color: #000;
	font-size: 16px;
	font-family: verdana;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

ul, p, div, a, img, h1, h2, h3, h4{
	border: 0; 
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h2{
	color: #434e60;
	font-size: 1.5em;
	margin: 4% 0;
}


header{
	margin: 0.5em auto 0 auto;	
	width: 70%;
}

header nav a{
	color: #fff;
	display: inline-block;
	line-height: 1em;
	margin: 0 1em 0 0;
	padding: 0.5em; 
}

header nav a:hover{
	border-radius: 5px;
	color: #000;
	background-color: #ddd;
}

.activo{
	border-radius: 5px;
	color: #000;
	background-color: #ddd;
}



#ppal{
	margin: 8% auto 0 auto;
	min-height: 30.5em;
	width: 70%;
}



#ppal a{
	color: #098aa7;
}


footer{
	background: url(/static/img/bg_top.png) 0 0 repeat;
	margin: 4em 0 0 0;
	height: 5em;
	width: 100%;
}

footer p{
	color: #fff;
	padding-top: 2em;
	text-align: center;
}


/*
		PRINCIPAL
*/

#logo, #descargar{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10%;
}

#ventajas{
	display: inline-block;
	font-size: 1em;
	list-style: none;
	margin: 0 10% 10%;
	vertical-align: top;
}

#ventajas li{
	line-height: 2em;
}

#ventajas li span{
	font-weight: bold;
}


/*
		Formularios
*/

form{
	margin: 0 0 0 5%;
	width: 70%;
}

form li{
	line-height: 3em;
}

form li label{
	display: inline-block;
	width: 180px;
}

form input[type='text'],form input[type='password'], textarea{
	padding: 0.4em;
	width: 50%;
}

.registro input{
	background: #ccc;
	border: 0;
	border-radius: 5px;
	display: inline-block;
	letter-spacing: 0.1em;
	margin-left: 64%;
	margin-top: 1.5em;
	padding: 0.5em 1em; 
}

.helptext{
	color: #333;
	display: inline-block;
	font-size: 0.8em;
}

.errorlist{
	color: #f00;
	font-size: 0.8em;
}

#lista{
	margin-left: 3em; 
}

#lista li{
	border-top: 0.5em solid #ccc;
	display: inline-block;
	margin: 0 2.5% 2.5% 0;
	width: 45%;
	vertical-align: top;
}

#lista h3, h4{
	margin: 1em 0 0 0;
}

#lista .datos-cliente{
	display: none;
}

#lista .datos-cliente p span{
	font-weight: bold;
}



/*
		LISTADOS
*/


#tabla{
	width: 960px;
}

#tabla tr{

	text-align: center;
}

#tabla th{
	color: #333;
	padding: 1em 0;
}

#tabla td{
	border-bottom: 1px solid #999;
	padding: 0.5em 0;
}

#tabla .opcs{
	font-size: 0.8em;
}

#tabla td > a span{
	background: url(http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png) 0 0 no-repeat;
	display: inline-block;
	line-height: 14px;
	margin-right: 0.4em;
	height: 14px;
	width: 14px;
}

.estadisticas > span{
	background-position: -408px 0 !important;
}

.editar > span{
	background-position: -96px -72px !important;
}

.eliminar > span{
	background-position: -456px 0 !important;
}



/*
		ESTADISTICAS POR CLIENTE
*/


#lista_puntos{
	display: inline-block;
	height: 270px;
	overflow-y: scroll;
	margin: 0 5% 0 2%; 
	padding: 0 2%;
	width: 30%;
}

#lista_puntos li{
	border-bottom: 0.1em solid #ccc;
	display: block;
	margin: 0 2.5% 0 0;
	padding: 2% 0;
	width: 100%;
	vertical-align: top;
}

.mapa{
	border: 1px dashed #000;
	display: inline-block;
	height: 270px;
	vertical-align: top;
	width: 55%;
}

.grafica{
	height: 450px;
	margin-top: 5%;
	width: 100%;
}