{% extends 'base.html' %}

{% block titulo %}
	Tie GPS - Ubíca a tus clientes, controla tus ventas
{% endblock %}

{% block menu %}
    <a href="/registro">Registro</a>
    <a href="/panel">Mi Cuenta</a>
{% endblock %}

{% block contenido %}

	<img src='{{ STATIC_URL }}img/logo.png' id='logo' />

	<ul id='ventajas'>
		<li>- Lleva contigo la información de tus clientes.</li>
		<li>- Agenda citas.</li>
		<li>- Realiza ventas de tus productos.</li>
		<li>- Controla tu <span>stock de productos.<span></li>
		<li>- Registra los lugar de tus visitas.</li>
		<li>- Manten un control de los pagos.</li>
		<li>- <span>Todo desde tu celular &nbsp;&nbsp;&nbsp; :)</span></li>
	</ul>

	<img src='{{ STATIC_URL }}img/descargar.png' id='descargar' />

{% endblock %}