{% extends 'base.html' %}

{% block titulo %}
	Tie GPS - Ubíca a tus clientes, controla tus ventas
{% endblock %}

{% block menu %}
    <a href="/registro">Registro</a>
    <a href="/panel">Mi Cuenta</a>
{% endblock %}

{% block contenido %}

	<img src='{{ STATIC_URL }}img/logo.png' id='logo' />

	<ul id='ventajas'>
		<li>- Lleva contigo la información de tus <span>clientes.</span></li>
		<li>- Agenda citas.</li>
		<li>- <span>Registra ventas</span> de tus productos o servicios.</li>
		<li>- Mira los <span>lugar de tus visitas.</span></li>
		<li>- Manten un <span>historial de cobros.</span></li>
		<li>- <span>Todo desde tu celular &nbsp;&nbsp;&nbsp; :)</span></li>
	</ul>

	<a href="http://grupogalco.net/tiegps.apk">
		<img src='{{ STATIC_URL }}img/descargar.png' id='descargar' />
	</a>

{% endblock %}