{% extends 'base.html' %}

{% block titulo %}
	Tie GPS - Ubíca a tus clientes, controla tus ventas
{% endblock %}


{% block header %}
	<script type='text/javascript'>
		$(document).on('ready', function(){
			$('#lista .mas').on('click', function(){
				$(this).next().toggle();
				return false;
			});

			$('.eliminar').click(function(e){
				e.preventDefault();
				
				if (confirm('Confirma borrado de cliente?')){		
					url = $(this).attr('href');
					window.location = url;
				}
			});

		});
	</script>



	<style type='text/css'>
		.detalles{
			margin: 10% 0 0 40%;
		}


		.detalles :first-child{
			color: #c00 !important;
		}

		.detalles a{
			color: #660000 !important;
		}
	</style>

{% endblock %}

{% block menu %}
	<span style='color: #fff;'>|</span>
	<a href='/datos'>Mis Datos</a>
	<a href='/clientes' class='activo'>Clientes</a>
	<a href='/agenda'>Agenda</a>

	<a href='/logout'>Cerrar Sesión</a>
{% endblock %}


{% block contenido %}

	<h2><a href='/clientes/nuevo'>+ Agregar Nuevo Cliente</a></h2>

	<table id='tabla'>

		{% for cliente in clientes %}

			<tr>
				<td>
					<a href='#' class='mas' title='Tel: {{ cliente.telefono }}'>
						{{ cliente.empresa }}
					</a>
				</td>

				<td>
					<a href='#' class='mas' title='Tel: {{ cliente.telefono }}'>
						{{ cliente.nombre }}
					</a>
				</td>

				<td>
					<a href='/estadisticas/visitas/{{ cliente.id }}/' class='estadisticas opcs'><span></span>Estadísticas</a>
				</td>

				<td>
					<a href='/clientes/editar/{{ cliente.id }}' class='editar opcs'><span></span>Editar</a>
				</td>

				<td>
					<a href='/clientes/eliminar/{{ cliente.id }}' class='eliminar opcs'><span></span>Eliminar</a>
				</td>
			</tr>	
		{% empty %}
			<tr><td>Aun no hay clientes capturados</td></tr>
		{% endfor %}
	</table>

{% endblock %}