{% extends 'base.html' %}

{% block titulo %}
	Tie GPS - Ubíca a tus clientes, controla tus ventas
{% endblock %}

{% block menu %}
	<span style='color: #fff;'>|</span>
	<a href='/datos'>Mis Datos</a>
	<a href='/clientes'>Clientes</a>
	<a href='/agenda' class='activo'>Agenda</a>

	<a href='/logout'>Cerrar Sesión</a>
{% endblock %}


{% block contenido %}
	<h2>+ Agregar Evento</h2>

	<form action='' method='post' id='formulario'>{% csrf_token %}
		<ul>

			{{ formulario.as_ul }}

			<li class='registro'>
				<input type='submit' value='Guardar' />
			</li>
		</ul>
	</form>
{% endblock %}