{% extends 'base.html' %}

{% block titulo %}
	Tie GPS - Ubíca a tus clientes, controla tus ventas
{% endblock %}

{% block menu %}
	<span style='color: #fff;'>|</span>
	<a href='/datos'>Mis Datos</a>
	<a href='/clientes'>Clientes</a>
	<a href='/agenda'>Agenda</a>

	<a href='/logout'>Cerrar Sesión</a>
{% endblock %}

{% block contenido %}

	<img src='{{ STATIC_URL }}img/logo.png' id='logo' />

	<p id='ventajas' style='width: 60%;'>
		Hola {{ usuario }}, si es tu primera vez por aquí te pedimos que <a href='/datos'>llenes tus datos</a> en el apartado '<a href='/datos'>Mis Datos</a>',
		ó puedes crear tu <a href=''>lista de clientes</a> y así empezar a registrar ventas desde tu celular.
	</p>

{% endblock %}